---
const personalImageAlt = 'Devgado';
import Badge from '@/components/Badge.astro';
import LinkedInIcon from '@/components/icons/LinkedIn.astro';
import MailIcon from '@/components/icons/Mail.astro';
import SocialPill from '@/components/SocialPill.astro';
import { en } from '@/i18n/en';
import { es } from '@/i18n/es';
import type { i18nUI } from '@/i18n/i18n.type';
import type { Languages } from '@/i18n/Language';

const lang: Languages = Astro.props.lang ?? 'en';

const translations = { es, en };
const t: i18nUI = translations[lang];
---

<div class='max-w-xl'>
    <div class='flex gap-4 mb-4'>
        <img
            class='rounded-full shadow-lg size-16 object-contain'
            src='/favicon.svg'
            alt={personalImageAlt}
        />
        <a
            href='https://www.linkedin.com/in/jleonardod/'
            target='_blank'
            rel='noopener'
            class='flex items-center transition md:justify-center md:hover:scale-105'
        >
            <Badge>{t.hero.jobStatus}</Badge>
        </a>
    </div>
    <h1
        class='text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white'
    >
        {t.hero.title}
    </h1>
    <p
        class='mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300'
    >
        {t.hero.description}
    </p>
    <nav class='flex flex-wrap gap-4 mt-8'>
        <SocialPill href='mailto:j3leonardodelgado@gmail.com'>
            <MailIcon class='size-4' />
            {t.hero.contactBadge}
        </SocialPill>
        <SocialPill href='https://www.linkedin.com/in/jleonardod/'>
            <LinkedInIcon class='size-4' />
            LinkedIn
        </SocialPill>
    </nav>
</div>
